/SceneTest/.DS_Store
/LucidConfig.xcodeproj/project.xcworkspace/xcuserdata/joecieplinski.xcuserdatad/UserInterfaceState.xcuserstate
/LucidConfig.xcodeproj/xcuserdata/joecieplinski.xcuserdatad/xcschemes/xcschememanagement.plist
